html { 
  height: 100%; 
  // overflow:auto; 
}

body {
  height: 100%; 
    margin: 0;
    padding: 0;
  background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,0.5844712885154062) 100%);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.scroll-to {
  display: block;
  position: relative;
  bottom: 0;
  right: 0;
  height: 10px;
}


input[type=text] {
    max-width: 350px;
    width: 100%;
    padding: 15px;
    margin-right: 20px;

    border: 1px solid rgb(245 206 98);
    border-radius: 3px;
    box-shadow: 0 4px 15px 0 rgb(228 54 3 / 75%);
}

input[type=text]::placeholder {
    color: #2c230a;
    font-style: italic;
    font-size: 15px;
    opacity: 0.5;
}

input[type=text]:focus {
   outline: none;
    box-shadow: 0 5px 10px 10px rgb(228 54 3 / 75%);
    moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  align-items: center;
}

.photo-card {
  flex: 24%;
  max-width: 25%;
  padding: 0 4px;
  height: 300px;
}

.photo-card img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.stats {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.stats-item {
    color: #fff;
    display: flex;
    flex-direction: column;
}

.load-more-btn {
    display: none;
    margin: 0 auto;
}

.load-more-btn, .search-btn {
  font-family: lato,sans-serif;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #ffffff;
  padding: 10px 40px 10px 40px;
  position: relative;
  border: 3px solid #ffffff;
  border-radius: 25px;
  background: transparent;
  cursor: pointer;
  transition: 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.load-more-btn:hover, .search-btn:hover, .load-more-btn:focus, .search-btn:focus {
    border-color: rgb(228 54 3 / 75%);
    color: rgb(228 54 3 / 75%);
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .photo-card {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .photo-card {
    flex: 100%;
    max-width: 100%;
  }
}